main {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
img {
  width: 100%;
  border-radius: 100px;
  box-shadow: 1px 1px 12px #555;
}
@media only screen and (orientation: landscape) {
}
